// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$red-color: #930b44;
$yelow-color: #d9a408;
$yelow-light-color: #f7d77b;

$green-color: #128412;
$green-light-color: #c2ddb8;
